:root{
	--darkBlue: #0A2239;
	--lightBlue: #D3E9FF;
	--blue: #1D84B5;
}

body {
	background-color: var(--lightBlue)
}

.dark-mode {
	background-color: var(--darkBlue);
}

.dark-mode ion-icon {
	width: 30px;
	height: 30px;
	color: var(--lightBlue);
	transition: all .5s ease-in;
}

.dark-mode .name {
	font-family: Neonderthaw;
	font-size: 50px;
	color: var(--lightBlue);
	text-shadow: 2px 2px var(--blue);
}

.dark-mode li, .dark-mode a {
	list-style-type: none;
	color: var(--lightBlue);
	border-bottom: 1px solid transparent;
  transition: all .5s ease-in;
}

.dark-mode a:link, .dark-mode a:visited {
  text-decoration: none;
}

.dark-mode a:hover, .dark-mode a:active {
	border-color: 1px var(--lightBlue);
}

.main-container {
	display: flex;
	flex: wrap;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-container {
	position: absolute;
	left: 90%;
}

.name {
	font-family: Neonderthaw;
	font-size: 50px;
	color: var(--darkBlue);
	text-shadow: 2px 2px white;
}

li, a {
	list-style-type: none;
	color: var(--darkBlue);
	border-bottom: 1px solid transparent;
  transition: all .5s ease-in;
}

.sub-header {
	display: flex;
	flex: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	font-family: Zen Kurenaido;
	padding-bottom: 40px;
}

ion-icon {
	width: 30px;
	height: 30px;
	color: var(--darkBlue);
	transition: all .5s ease-in;
}

button {
	position: absolute;
	right: 44%;
	font-size: 20px;
	font-family: Zen Kurenaido;
	background-color: white;
  color: black;
  border: 2px solid var(--darkBlue);
	border-radius: 5px;
}

button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#greeting {
	text-align: center;
	font-family: Neonderthaw;
	font-size: 100px;
	color: var(--darkBlue);
	text-shadow: 2px 2px white;
	padding-top: 12%;
	padding-bottom: 5%;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
	border-color: 1px var(--darkBlue);
}

.resume-header {
	text-align: center;
}

/* reference https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
.resume-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 75%;
	background-color: white;
	margin: 0px auto;
	width: 60%;
	box-shadow:
		/* inset shadow */
       inset 0 -3em 3em rgba(0,0,0,0.1),
		/* regular drop shadow */
             0 0  0 2px rgb(255,255,255),
		/* border effect shadow */
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

h3 {
	text-decoration: underline;
}

ul {
	text-align: center;
}

p {
	text-align: center;
	inline-size: 75%;
}

h5 {
	font-size: 13px;
}

h4, h5 {
	line-height: 0.1%;
}

#selfie {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 20%;
	width: 18%;
	border-radius: 150px;
	box-shadow:
		/* inset shadow */
       inset 0 -3em 3em rgba(0,0,0,0.1),
		/* regular drop shadow */
             0 0  0 2px rgb(255,255,255),
		/* border effect shadow */
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.bio-container {
	font-family: Zen Kurenaido;
	box-shadow:
		/* inset shadow */
       inset 0 -3em 3em rgba(0,0,0,0.1),
		/* regular drop shadow */
             0 0  0 2px rgb(255,255,255),
		/* border effect shadow */
             0.3em 0.3em 1em rgba(0,0,0,0.3);
	line-height: 200%;
}

#bio-info {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#bio-title {
	text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
}

.contact-container {
	margin-left: auto;
	margin-right: auto;
  border-radius: 5px;
	box-shadow:
		/* inset shadow */
       inset 0 -3em 3em rgba(0,0,0,0.1),
		/* regular drop shadow */
             0 0  0 2px rgb(255,255,255),
		/* border effect shadow */
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  padding: 20px;
	width: 40%;
}
